<h3>商品一覧画面</h3>
<table class="table">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
	<% @items.each do|item| %>
		<tr>
			<td><%= item.id %></td>
			<td><%= item.name %></td>
			<td><%= item.price %></td>
			<td><%= item.genre.name %></td>
			<td><%= item.item_status %></td>
			<
		</tr>
	<% end %>
	</tbody>
</table>