<% content_for(:html_title) { "商品新規登録" } %>
	<div class="col-md-10 col-md-offset-1 admin-item-new">
		<h3>商品新規登録画面</h3>
			<div class="margin-top">
				<%= form_for @item, url: admin_items_path(@item) do |f| %>
					<%= render "shared/errors", object: @item %>
					<div class="col-lg-4">
						<%= attachment_image_tag @item, :image, id: "item_image_preview", fallback: "no_image.png", size: "300x300" %>
						<%=f.attachment_field :image, onchange: "previewFile()" %>
					</div>

					<div class="col-lg-5 admin-item-middle">
						<div class="margin-bottom">
							<span><%= f.label(:name, "商品名") %></span>
							<span><%= f.text_field :name, class: "item-name-form" %></span>
						</div>

						<div  class="margin-bottom">
							<span><%= f.label :description, "商品説明", class: "description-label" %></span>
							<span><%= f.text_area :description %></span>
						</div>

						<div class="margin-bottom">
							<span><%= f.label(:genre_id, "ジャンル")%></span>
							<span><%=  f.collection_select :genre_id, @genres, :id, :name, {include_blank: '選択してください'} %></span>
						</div>

						<div class="margin-bottom">
							<span><%= f.label(:price, "税抜価格") %></span>
							<span><%= f.text_field :price %>円</span>
						</div>

						<div>
							<span><%= f.label(:item_status, "販売ステータス") %></span>
							<span><%= f.select :item_status, [["販売中", "販売中"], ["販売停止中", "販売停止中"]], {include_blank: '選択してください'} %></span>
						</div>
					</div>

					<div class="col-lg-3">
						<%= f.submit '新規登録', class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
	</div>
