<% content_for(:html_title) { "商品詳細" } %>
	<div class="col-md-10 col-md-offset-1 admin-item-show-page">
		<h3>商品詳細画面</h3>
			<div class="margin-top">
				<div class="col-lg-4">
					<%= attachment_image_tag @item, :image, :fill, 300, 300 %>
				</div>

				<div class="col-lg-4">
						<div class="margin-bottom">
							<span class="marker-line"><%=  "商品名:" %></span>
							<span class="admin-item-span"><%= @item.name %></span>
						</div>

						<div class="margin-bottom">
							<span class="marker-line"><%= "商品説明:" %></span>
							<span class="admin-item-description"><%= @item.description %></span>
						</div>

						<div class="margin-bottom">
							<span class="marker-line"><%= "ジャンル:"%></span>
							<span class="admin-item-span"><%= @item.genre.name %></span>
						</div>

						<div class="margin-bottom">
							<span class="marker-line"><%= "価格(税抜価格):" %></span>
							<span class="admin-item-span">
								<%= @item.tax_include_price.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>) 円
							</span>
						</div>

						<div class="margin-bottom">
							<span class="marker-line"><%= "販売ステータス:" %></span>
							<span class="admin-item-span">
								<%= @item.item_status %>
							</span>
						</div>
				</div>

				<div class="col-lg-2">
					<button type="button" class="btn btn-outline-secondary pull-right">
						<%= link_to "編集画面", edit_admin_item_path(@item), class: "btn btn-primary" %>
					</button>
				</div>
			</div>
	</div>










