<div class="container">
	<div class="row">
	<h2>登録情報編集</h2>
		<%= form_for(@user) do |f| %>
		<%= f.submit '退会する', name: "unsubsuribe", class:"btn btn-danger", "data-confirm" => "本当に退会しますか？" %>
		<table class="table">
			<tbody>
				<th>氏名</th>
				<th><%= f.text_field :family_name, size:10 %><%= f.text_field :first_name, size:10 %></th>
			</tbody>
			<tbody>
				<th>ふりがな</th>
				<th><%= f.text_field :kana_family_name, size:10 %><%= f.text_field :kana_first_name, size:10 %></th>
			</tbody>
				<%= f.fields_for :addresses, @main_address do |af| %>
					<tbody>
						<th>郵便番号</th>
						<th><%= af.text_field :postal_code, size:10 %></th>
					</tbody>
					<tbody>
						<th>住所</th>
						<th><%= af.text_field :address, size:30 %></th>
					</tbody>
				<% end %>
			<tbody>
				<th>電話番号</th>
				<th><%= f.text_field :phone_number, size:10 %></th>
			</tbody>
			<tbody>
				<th>メールアドレス</th>
				<th><%= f.email_field :email %></th>
			</tbody>
		</table>
			<%= f.submit '編集内容を保存する',:class =>"btn btn-primary" %>
		<% end %>
	</div>
</div>