<% content_for(:html_title) { "マイページ" } %>
<div class="container">
	<div class="row user-my-page">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="heading">マイページ</h1>
			<h3>登録情報
				<%= link_to "編集する", edit_user_path(@user.id), class:"btn btn-primary edit-user-button" %>
				<%= link_to "パスワードを変更する", edit_user_registration_path, class:"btn btn-primary" %>
			</h3>
			<div>
				<table class="table table-responsive table-bordered">
					<tbody>
						<th class="active">氏名</th>
						<th><%= @user.family_name %><%= @user.first_name %></th>
					</tbody>
					<tbody>
						<th class="active">かな</th>
						<th><%= @user.kana_family_name %><%= @user.kana_first_name %></th>
					</tbody>
					<tbody>
						<th class="active">郵便番号</th>
						<th>〒<%= @main_address.postal_code.insert(3, "-") %></th>
					</tbody>
					<tbody>
						<th class="active">住所</th>
						<th><%= @main_address.address %></th>
					</tbody>
					<tbody>
						<th class="active">電話番号</th>
						<th><%= @user.phone_number %></th>
					</tbody>
					<tbody>
						<th class="active">メールアドレス</th>
						<th><%= @user.email %></th>
					</tbody>
				</table>
			</div>

			<div>
				<h3>配送先　
					<%= link_to "一覧を見る", addresses_path, class:"btn btn-primary my-page-address-btn" %>
				</h3>
				<h3>注文履歴　
					<%= link_to "一覧を見る", order_histories_path, class:"btn btn-primary" %>
				</h3>
			</div>
		</div>
	</div>
</div>