<div class="container">
	<div class="row">
		<h2>登録情報</h2>
		<%= link_to "編集する", edit_user_path(@user.id) %>
		<!-- パスワード編集機能はdevice使用 -->
		<%= link_to "パスワードを変更する", edit_user_password_path %>
		<div>
			<table class="table table-hover table-inverse">
				<tbody>
					<th>氏名</th>
					<th><%= @user.family_name %><%= @user.first_name %></th>
				</tbody>
				<tbody>
					<th>かな</th>
					<th><%= @user.kana_family_name %><%= @user.kana_first_name %></th>
				</tbody>
				<!-- .firstを使っているのでまだ最初に入力した住所を表示するのみの仮の状態です。後ほどメイン住所フラグつきの住所のみをコントローラーで引っ張ってきて表示する形式にします。 -->
				<tbody>
					<th>郵便番号</th>
					<th><%= @user.addresses.first.postal_code %></th>
				</tbody>
				<tbody>
					<th>住所</th>
					<th><%= @user.addresses.first.address %></th>
				</tbody>
				<tbody>
					<th>電話番号</th>
					<th><%= @user.phone_number %></th>
				</tbody>
				<tbody>
					<th>メールアドレス</th>
					<th><%= @user.email %></th>
				</tbody>
				<tbody>
					<th>unsubscribe</th>
					<th><%= @user.is_unsubscribe %></th>
				</tbody>
			</table>
		</div>

		<div>
			<h2>配送先</h2>
				<%= link_to "一覧を見る", addresses_path %>
			<h2>注文履歴</h2>
				<%= link_to "一覧を見る", order_histories_path %>
		</div>
	</div>
</div>