<% content_for(:html_title) { "注文情報確認" } %>
<div class="container">
  <div class="row">
    <h1 class="heading">注文情報確認</h1>
    <div class="col-xs-8">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th class="active">商品名</th>
            <th class="active">単価(税込)</th>
            <th class="active">数量</th>
            <th class="active">小計</th>
          </tr>
        </tbody>
        <% total = 0 %>
        <% @cart_items.each do |cartitem| %>
        <tbody>
          <tr>
            <td><%= link_to item_path(cartitem.item_id) do %><%= attachment_image_tag cartitem.item,:image, size: "50x50" %><% end %>　
              <%= link_to cartitem.item.name, item_path(cartitem.item_id) %></td>
            <td><%= cartitem.item.tax_include_price.to_s(:delimited) %></td>
            <td><%= cartitem.item_count.to_s(:delimited) %></td>
            <td><%= (cartitem.item.tax_include_price*cartitem.item_count).to_s(:delimited) %></td>
            <% sub_total = cartitem.item.tax_include_price*cartitem.item_count %>
            <% total += sub_total %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-xs-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="active">商品合計</th>
            <td><%= total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="active">送料</th>
            <td><%= @order.fee.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="active">合計金額</th>
            <td><%= (total + @order.fee).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="active">支払方法</th>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <th class="active">お届け先</th>
              <td>
                  〒<%= @order.ordered_postal_code.insert(3, "-") %><br>
                  <%= @order.ordered_address %><br>
                  <%= @order.ordered_receiver_name %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= form_for @order, url: orders_path do |f| %>
      <%= f.hidden_field :ordered_address %>
      <%= f.hidden_field :ordered_postal_code %>
      <%= f.hidden_field :ordered_receiver_name %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :billing_amount, :value => total.to_i %>
      <%= f.hidden_field :address_type %>
      <% @cart_items.each do |item| %>
        <%= f.fields_for :order_items, @order.order_items.build do |i| %>
          <%= i.hidden_field :item_id, :value => item.item_id %>
          <%= i.hidden_field :user_id, :value => current_user.id %>
          <%= i.hidden_field :item_count, :value => item.item_count %>
          <%= i.hidden_field :ordered_price, :value => item.item.price %>
          <%= i.hidden_field :ordered_item_name, :value => item.item.name %>
        <% end %>
      <% end %>
        <div class="clearfix"></div>
          <%= f.submit "　　　　　購入を確定する　　　　　" ,class:"btn btn-primary btn-lg center-block" %>
      <% end %>
  </div>
</div>