<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<table class="table col-xs-9">
				<tbody>
					<tr>
						<th class="active">商品名</th>
						<th class="active">単価(税込)</th>
						<th class="active">数量</th>
						<th class="active">小計</th>
					</tr>
				</tbody>
				<% total = 0 %>
				<% @cart_items.each do |cartitem| %>
				<tbody>
					<tr>
						<td><%= link_to item_path(cartitem.item_id) do %><%= attachment_image_tag cartitem.item,:image, size: "50x50" %><% end %>　
							<%= link_to cartitem.item.name, item_path(cartitem.item_id) %></td>
						<td><%= cartitem.item.tax_include_price %></td>
						<td><%= cartitem.item_count %></td>
						<td><%= sub_total = cartitem.item.tax_include_price*cartitem.item_count %></td>
						<% total += sub_total %>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
		<div class="col-xs-3">
			<table class="table">
				<tbody>
					<tr>
						<th class="active">商品合計</th>
						<td><%= total.to_s %></td>
					</tr>
					<tr>
						<th class="active">送料</th>
						<td><%= @order.fee %></td>
						<!-- 仮です -->
					</tr>
					<tr>
						<th class="active">合計金額</th>
						<td><%= total + @order.fee %></td>
						<!-- 仮です -->
					</tr>
				</tbody>
			</table>
		</div>
	    <strong>支払方法</strong>
	       <%= @order.payment_method %><br>

	    <strong>お届け先</strong>
          <%= @order.ordered_postal_code %>
          <%= @order.ordered_address %>
          <%= @order.ordered_receiver_name %>

		<%= form_for @order, url: orders_path do |f| %>
			<%= f.hidden_field :ordered_address %>
			<%= f.hidden_field :ordered_postal_code %>
			<%= f.hidden_field :ordered_receiver_name %>
			<%= f.hidden_field :payment_method %>
			<%= f.hidden_field :billing_amount, :value => total.to_i + @order.fee %>
			<% @cart_items.each do |item| %>
				<%= f.fields_for :order_items, @order.order_items.build do |i| %>
					<%= i.hidden_field :item_id, :value => item.item_id %>
					<%= i.hidden_field :user_id, :value => current_user.id %>
					<%= i.hidden_field :item_count, :value => item.item_count %>
					<%= i.hidden_field :ordered_price, :value => item.item.price %>
					<%= i.hidden_field :ordered_item_name, :value => item.item.name %>
				<% end %>
			<% end %>
	        <%= f.submit "購入を確定する" ,class:"btn btn-primary btn-xl" %>
	    <% end %>
	</div>
</div>