<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<h3>購入情報</h3>
			<%= form_with(model: @order, local: true, url: orders_confirm_path) do |f| %>
			 <%= render 'shared/errors', object: @order %>

			 <strong>支払い方法</strong><br>

			  <%= f.radio_button(:payment_method, :クレジットカード) %>
              <%= f.label(:payment_method, "クレジットカード", value: "クレジットカード") %><br>
			  <%= f.radio_button(:payment_method, :銀行振込) %>
			  <%= f.label(:payment_method, "銀行振込", value: "銀行振込") %><br>

			  <strong>お届け先</strong><br>

			      <%= f.radio_button(:address_type, :address1) %> 
			      <%= f.label(:address_type, "ご自身の住所", value: "address1") %><br>

			     〒<%= @main_address.postal_code.insert(3, "-") %><br>
			     <%= @main_address.address %><br>
			     <%= @main_address.receiver_name %><br>

			      <%= f.radio_button(:address_type, :address2) %>
			      <%= f.label(:address_type, "登録済住所から選択", value: "address2") %><br>

			      <%= f.collection_select :address_id, @addresses, :id, :address_select %><br>

			      <%= f.radio_button(:address_type, :address3) %>
			      <%= f.label(:address_type, "新しいお届け先", value: "address3") %><br>

			       <p>
			 	      郵便番号 <%= f.text_field :ordered_postal_code %>
			       </p>
			       <p>
			 	      住所 <%= f.text_field :ordered_address %>
			       </p>
			       <p>
			 	      宛名 <%= f.text_field :ordered_receiver_name %>
			       </p>

			          <%= f.submit "確認画面に進む", class: "btn btn-primary w-25" %>
			<% end %>


			<script>
			  function addressflg1(ischecked){
			    if(ischecked == true){
			      document.getElementById("addressization").disabled = true;
			    }
			  }

			  function addressflg2(ischecked){
			    if(ischecked == true){
			      document.getElementById("addressization").disabled = true;
			    } else {
			      document.getElementById("addressization").disabled = false;
			    }
			  }

			  function addressflg3(ischecked){
			    if(ischecked == true){
			      document.getElementById("addressization").disabled = false;
			    } else {
			      document.getElementById("addressization").disabled = true;
			    }
			  }
			 </script>
		</div>
  	</div>
</div>