
<h3>購入情報</h3>

<strong>支払い方法</strong>
<%= form_for (@order), url: orders_confirm_path do |f| %>
  <%= f.radio_button :payment_method, :クレジットカード %>
  <%= "クレジットカード" %><br>
  <%= f.radio_button :payment_method, :銀行振込 %>
  <%= "銀行振込" %><br>


  <strong>お届け先</strong><br>
    <label>
      <input name="address" type="radio" id="address1" onClick="addressflg1(this.checked);"/> ご自身の住所
    </label><br>
     <%= @main_address.postal_code %><br>
     <%= @main_address.address %><br>
     <%= @main_address.receiver_name %><br>

    <label>
      <input name="address" type="radio" id="address2" onClick="addressflg2(this.checked);"/> 登録済住所から選択
    </label><br>

      <%= f.collection_select :address_id, @addresses, :id, :address_select %><br>

    <label>
      <input name="address" type="radio" id="address3" onClick="addressflg3(this.checked);"/> 新しいお届け先
    </label><br>
    <fieldset type="text" id="addressization" value="" disabled="disabled"> 

       <p>
 	      郵便番号 <%= f.text_field :ordered_postal_code %>
       </p>
       <p>
 	      住所 <%= f.text_field :ordered_address %>
       </p>
       <p>宛名
 	      <%= f.text_field :ordered_receiver_name %>
       </p>

    </fieldset>
          <%= f.submit "確認画面に進む", class: "btn btn-primary w-25" %>
<% end %>


<script>
  function addressflg1(ischecked){
    if(ischecked == true){
      document.getElementById("addressization").disabled = true;
    }
  }

  function addressflg2(ischecked){
    if(ischecked == true){
      document.getElementById("addressization").disabled = true;
    } else {
      document.getElementById("addressization").disabled = false;
    }
  }

  function addressflg3(ischecked){
    if(ischecked == true){
      document.getElementById("addressization").disabled = false;
    } else {
      document.getElementById("addressization").disabled = true;
    }
  }
 </script>
