<h1 class="jquery">Hello jQuery!</h1>

<div class="container">
	<div class="row">
		<table class="table">
			<%= link_to "カートを空にする", destroy_all_path, method: :post, class:"btn btn-danger pull-right"%><br>
			<br>
			<tbody>
				<tr>
					<th class="active">商品名</th>
					<th class="active">単価(税込)</th>
					<th class="active">数量</th>
					<th class="active">小計</th>
					<th class="active"></th>
					<th class="active"></th>
				</tr>
			</tbody>
			<% total = 0 %>
			<% @cart_items.each do |cartitem| %>
			<tbody>
				<tr>
					<td><%= link_to item_path(cartitem.item_id) do %><%= attachment_image_tag cartitem.item,:image, size: "50x50" %><% end %>　
						<%= link_to cartitem.item.name, item_path(cartitem.item_id) %></td>
					<td><%= cartitem.item.tax_include_price %></td>
					<td><%= form_for cartitem, url: cart_path(cartitem) do |f| %>
							<%= f.number_field :item_count ,min:0,max:100, class:"count" %>
					</td>
					<td><%= sub_total = cartitem.item.tax_include_price*cartitem.item_count %></td>
					<% total += sub_total %>
					<td><%= link_to "削除する", cart_path(cartitem), method: :delete, class:"btn btn-danger pull-right" %></td>
					<td><%= f.submit "更新する", name:"cartupdate", class:"btn btn-info pull-right" %></td>
					<% end %>
				</tr>
			</tbody>
			<% end %>
		</table>
		<div class="col-xs-3 pull-right">
			<table class="table">
				<tbody>
					<tr>
						<th class="active">合計金額</th>
						<th><%= total.to_s %> 円</th>
					</tr>
				</tbody>
			</table>
		</div>
		<%= link_to "合計金額再計算", cart_path(@cart_items), class:"btn btn-primary pull-right" %>
	</div>
	<br>
	<%= link_to "情報入力に進む", cart_path(@cart_items), class:"btn btn-primary btn-lg center-block" %>
</div>