<section class="slice slice-lg sct-color-1">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                      <% content_for(:html_title) { "ログイン" } %>
                        <h2 class="form-header-title">管理者ログイン</h2><br>
                    </div>

                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputName", placeholder:"メールアドレス" %>
                      </div><br>

                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"inputName", placeholder:"パスワード" %>
                      </div>

                        <% if devise_mapping.rememberable? %>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me, "次回から自動的にログイン" %>
                          </div>
                        <% end %>
                      <div class="actions">
                        <%= f.submit "ログイン", class:"btn btn-primary btn-lg btn-block" %>
                      </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

