<div class="skippr-container center">
    <div id="theTarget">
        <div class="img-size" style="background-image: url(<%= asset_url 'nichinanIMGL9207_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'publicdomainq-0032107koz.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'chocolateFTHG6693_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'PAK75_yoridorimakaron20140304_TP_V.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'PPO_1000maicake_TP_V.jpg' %>)"></div>
    </div>
</div>
<div class="container padding-top">
	<div class="center-block col-md-9">
		<p>
      ながのケーキは長野県にある小さな洋菓子店です。パティシエ選りすぐりのこだわり素材、自然の製法で一個一個手作りしています。ながのケーキは長野県にある小さな洋菓子店です。パティシエ選りすぐりのこだわり素材、自然の製法で一個一個手作りしています。ながのケーキは長野県にある小さな洋菓子店です。パティシエ選りすぐりのこだわり素材、自然の製法で一個一個手作りしています。<br>
      ながのケーキは長野県にある小さな洋菓子店です。パティシエ選りすぐりのこだわり素材、自然の製法で一個一個手作りしています。ながのケーキは長野県にある小さな洋菓子店です。
    </p>
	</div>
	<div class="pull-right col-xs-3 padding-top">
		<p>〒000-0000</p>
		<p>長野県〇〇市△△村１−１−１</p>
		<p>ながのケーキ</p>
	</div>
</div>