
<div class="clearfix" style="background-color: #f3f3f3)">
	<div class= "container">
		<div class="row">
			<div class="col-md-2">
				<div class="snow">❄</div>
				<div class=" border">
					<div class="top-marker-line"><span class="glyphicon glyphicon-tag" aria-hidden="true" style="font-size: 10px"></span>ジャンル検索</div>
					<div class="padding-top">
						<% @genres.each do |genre| %>
							<%= link_to root_path(genre_id: genre.id) do |name| %>
							<div class="dott"><%= genre.name %></div>
							<% end %><br>
						<% end %>
					</div>
				</div>

				<div class=" border">
					<div class="top-marker-line"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 10px"></span>条件から選ぶ</div>
					<div class="padding-top">
						<div class="dott"><%= link_to "500~999円" %></div><br>
						<div class="dott"><%= link_to "1000~1999円以下" %></div><br>
						<div class="dott"><%= link_to "2000~2999以下" %></div><br>
						<div class="dott"><%= link_to "3000~以下" %></div><br>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<h2>商品一覧</h2>
				<% if @items.empty?%>
				  <p>「<%= @search %>」の</p>
				<% end %>
				<div class="row">
					<% @items.each do |item| %>
						<div class="col-xs-3">
							<%= link_to item_path(item.id) do |i| %>
								<%= attachment_image_tag item,:image, size: "200x200" %>
							<% end %>
							<br>
							商品名：<%= item.name %><br>
							価格：<%= (item.price.to_i*BigDecimal("1.1")).floor.to_s(:delimited) %>円<br>
							<br>
						</div>
					<% end %>
				</div>
				 <div>
					<%= page_entries_info @items, entry_name: "商品" %>
				 </div>
			     <%= paginate @items %>
			</div>
		</div>
	</div>
</div>
