<%= fall_snow %>
	<div class="col-md-3 border">
		<h4 style="color:#f5f5f5f5;">ジャンル検索</h4>
		<% @genres.each do |genre| %>
			<%= link_to root_path(genre_id: genre.id) do |name| %><%= genre.name %><% end %><br>
		<% end %>
	</div>
	<div class="col-md-9">
		<h2 style="color:#f5f5f5f5;">商品一覧</h2>
		<% @items.each do |item| %>
			<div class="col-xs-4">
				<%= link_to item_path(item.id) do |i| %>
					<%= attachment_image_tag item,:image, size: "200x200" %>
				<% end %>
				<br>
				商品名：<%= item.name %><br>
				価格：<%= (item.price.to_i*BigDecimal("1.1")).floor.to_s(:delimited) %>円<br>
				<br>
			</div>
		<% end %>