<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>ジャンル検索</h2>
			<% @genres.each do |genre| %>
				<%= link_to root_path do |name| %><%= genre.name %><% end %><br>
			<% end %>
		</div>
		<div class="col-md-8">
				<h1><%= @item.name %></h1>
				<h3><%= @item.description %></h3>
				<h3><%= @item.price.to_i*1.1 %>円(税込)</h3>
		</div>
	</div>
</div>