<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>ジャンル検索</h2>
			<% @genres.each do |genre| %>
				<%= link_to root_path do |name| %><%= genre.name %><% end %><br>
			<% end %>
		</div>
		<div class="col-md-8">
				<%= attachment_image_tag @item,:image, size: "200x200" %>
				<h1><%= @item.name %></h1>
				<h3><%= @item.description %></h3>
				<h3><%= @item.tax_include_price %>円(税込)</h3>
		<%= form_for [@cart_item], url: @url do |cart| %>
			<%= cart.select :item_count, (1..10), :placeholder => "個数選択" %>
			<%= cart.hidden_field :item_id, :value => @item.id %>　
			<%= cart.submit 'カート に追加する', class:"btn btn-primary" %>
		<% end %>
		</div>
	</div>
</div>