<div class="container">
  <h2>登録情報編集</h2>
    <%= form_for @user, url: admin_user_path do |f| %>
      <%= render 'shared/errors', object: @user %>
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :family_name, size:10 %><%= f.text_field :first_name, size:10 %></td>
        </tr>
        <tr>
          <td>ふりがな</td>
          <td><%= f.text_field :kana_family_name, size:10 %><%= f.text_field :kana_first_name, size:10 %></td>
        </tr>
          <%= f.fields_for :addresses, @user_address do |af| %>
            <tr>
              <td>郵便番号</td>
              <td><%= af.text_field :postal_code, size:10 %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= af.text_field :address, size:30 %></td>
            </tr>
          <% end %>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number, size:10 %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email %></td>
        </tr>
      </table>
      <%= f.submit '退会済にする', name: "unsubscribe", class: "btn btn-danger", "data-confirm" => "本当に退会済にしますか？" %>
      <%= f.submit '変更を保存する', class: "btn btn-primary" %>
    <% end %>
</div>