<% content_for(:html_title) { "会員詳細" } %>
<h1 class="heading">会員詳細画面</h1>
<table  class="admin-user-show">
  <tbody>
    <tr>
      <th>顧客ID</th>
      <td><%= @user.id %><span class="active-or-unsubscribed"><%= "#{@user.is_unsubscribe}会員" %></span></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= "#{@user.family_name}  #{@user.first_name}" %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= "#{@user.kana_family_name}  #{@user.kana_first_name}" %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= "〒" + @user_address.postal_code.insert(3, "-") %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @user_address.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @user.phone_number %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<div class="admin-user-buttons">
  <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-primary admin-user-edit-btn" %>
  <%= link_to "注文履歴一覧を見る", admin_orders_path(user_id: @user.id), class: "btn btn-primary" %>
</div>