<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? "ながのCAKE 管理者 | #{yield(:html_title)}" : "ながのCAKE 管理者" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <diV class="container">
        <h3><%= link_to"管理者", admin_root_path %></h3>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "商品一覧", admin_items_path %></li>
          <li><%= link_to "会員一覧", admin_users_path %></li>
          <li><%= link_to "注文一覧", admin_orders_path %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
         </ul>
<!--         <div class="nav navbar-nav navbar-right">
          <form action="#" method="post">
            <input type="search" name="search" placeholder="Seach">
          </form>
        </div> -->
      </diV>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
