<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? "ながのケーキ | #{yield(:html_title)}" : "ながのケーキ" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://kit.fontawesome.com/83beaa6ece.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
   <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">

  </head>

  <body class="wf-notosansjapanese">
    <header class="navbar header">
      <div class="container">
        <div class="row">
          <h3 class="navbar-left">
            <%= link_to image_tag("naganocake.png", height: 75), root_path %>
          </h3>
              <div class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>

                  <li>
                    <%= link_to user_path(current_user.id) do %>
                    <i class="far fa-user icon-custom"></i><br>マイページ
                    <% end %>
                    <span class="user-name">
                      <strong>
                        <%= current_user.family_name + " " + current_user.first_name %>さん
                      </strong>
                    </span>
                  </li>

                  <li><%= link_to about_path do %>
                    <i class="fas fa-birthday-cake icon-custom"></i><br>about
                    <% end %>
                  </li>

                  <li>
                    <%= link_to order_histories_path do %>
                      <i class="fas fas fa-history icon-custom"></i><br>注文履歴
                    <% end %>
                  </li>

                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fas fa-sign-out-alt icon-custom"></i><br>ログアウト
                    <% end %>
                  </li>

                  <li>
                    <%= link_to carts_path do |c| %>
                      <i class="fas fa-shopping-cart  icon-custom"></i><br>カート
                        <% if current_user.cart_items.present? %>
                          <span class="cart-count">
                            <%= current_user.cart_items.count %>
                          </span>
                        <% end %>
                    <% end %>
                  </li>

                  <% else %>

                  <li><%= link_to new_user_registration_path do %>
                    <i class="fas fa-user-plus icon-custom"></i><br>新規登録
                    <% end %>
                  </li>
                  <li><%= link_to about_path do %>
                    <i class="fas fa-birthday-cake icon-custom"></i><br>about
                    <% end %>
                  </li>
                  <!-- ポップアップ中身 -->
                  <li><%= link_to new_user_session_path do %>
                    <i class="fas fa-sign-in-alt icon-custom"></i><br>ログイン</li>
                    <% end %>
                  <% end %>
              </div>
              <div class="search-form-box">
                <%= form_tag root_path, :method => 'get', enforce_utf8: false, class: "search-form" do %>
                  <%= text_field_tag :search, params[:search], placeholder: '何をお探しですか？', class: "search-window-size" %>
                  <%= button_tag :type=> "submit", :name  => nil, class: "sbtn" do %>
                  <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>
        </div>
      </diV>
    </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <div class="container">
        <footer>
          <p><%= link_to "ながのケーキ", root_path %></p>
        </footer>
      </div>
    </body>
  </html>
