<!DOCTYPE html>
<html>
  <head>
    <title>NaganoEc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83beaa6ece.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
       <div class="container-fluid">
          <h3 class="col-md-6"><%= link_to"LOGO", root_path %></h3>
          <ul class="col-xs-6 nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "about", about_path %></li>
              <li><%= link_to "注文履歴一覧", order_histories_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "カート", carts_path, class:"btn btn-primary btn-md fab fa-cart-plus" %></li>

            <% else %>
             <li><%= link_to "新規登録", new_user_registration_path %></li>
             <li><%= link_to "ログイン", new_user_session_path %></li>
             <li><%= link_to "about", about_path %></li>
            <% end %>
            <div class="nav navbar-nav navbar-right">
              <form action="#" method="post">
                <input type="search" name="search" placeholder="Search">　
              </form>
            </div>
          </ul>
        

       </diV>
    </header>

    <%= yield %>
  </body>
</html>
