<div class="container">
  <div class="row">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <label>名字</label>
        <%= f.text_field :family_name, autofocus: true, size:10,:placeholder => "姓" %>
        <%= f.text_field :first_name, autofocus: true, size:10, :placeholder => "名" %>
      </div>

      <div class="field">
        <label>フリガナ</label>
        <%= f.text_field :kana_family_name, autofocus: true, size:10, :placeholder => "セイ" %>
        <%= f.text_field :kana_first_name, autofocus: true, size:10, :placeholder => "メイ" %>
      </div>

      <div class="field">
        <label>電話番号</label>
        <%= f.text_field :phone_number, autofocus: true, :placeholder => "xxx-xxx-xxxx" %>
      </div>

      <div class="field">
        <label>メールアドレス</label>
        <%= f.email_field :email, autofocus: true, :placeholder => "aaa@.test.jp" %>
      </div>

      <%= f.fields_for :addresses, @user.addresses.build do |af| %>
        <div class="field">
          <label>郵便番号</label>
            <%= af.text_field :postal_code, :placeholder => "0001111"%>
        </div>

      <div class="field">
        <label>住所</label>
        <%= af.text_field :address, size:50, :placeholder => "東京都渋谷区神南１丁目１９−１１　パークウェースクエア２４階" %>
      </div>
      <% end %>


      <div class="field">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>

        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <label>パスワード確認</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"col-xs-3 btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
